.boxForBackgroundImage {
  position: relative;
  .mainBackground {
    display: block;
    max-width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
  }
}

.cardBox {
  position: relative;
}

.user_header {
  .line_dividing {
    border: solid 1px #fff;
    height: 10px;
  }
}
